In [33]:
import numpy as np
import pandas as pd

In [43]:
patientheartrate = pd.read_csv(r'E:\hk3\Nhập môn phân tích dữ liệu và học sâu\Lab3-Thai Quoc Bao-207CT09955\patient_heart_rate.csv')
patientheartrate

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
11  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
12  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
13  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
14  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
15  14.0        UniLever   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

In [44]:
patientheartrate.head(5)

     1    Mickéy Mousé    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

In [45]:
#Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải
column_names=["ID", "Name", "Age", "Weight", "m0006", "m0612","m1218", "f006", "f0612", "f1218"]
patientheartrate = pd.read_csv("patient_heart_rate.csv", names = column_names)
print(patientheartrate.head())

    ID            Name   Age      Weight m0006 m0612 m1218 f006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71    -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -   85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -   65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72    -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -   69   NaN    75

In [46]:
#Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột ―Name‖ chứa bao gồm ―Firstname‖ và ―Lastname‖, giải pháp là ta sẽ tách ra làm 2 cột
patientheartrate[['Firstname','Lastname']] = patientheartrate['Name'].str.split(expand=True)
patientheartrate = patientheartrate.drop('Name', axis=1)
print (patientheartrate)

      ID   Age      Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71    -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -   85    84    76    Donald
2    3.0  16.0         NaN     -     -     -   65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72    -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -   69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -   68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -   71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75    -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN
10   NaN   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN
11   9.0  52.0      189lbs     -     -     -   68    75    72      Huey
12  10.0  12.0       45kgs     -     -     -   92    95    87     Louie
13  11.0   NaN       60kgs    78    75    72    -     -     -     Henry
14  12.0  34.0         NaN    65    67    55    -     -     -    Michel
15  13.0   NaN         NaN     -     -     -   68    72    70      Tana
16  14.0   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever
17  15.0  52.0      180lbs     -     -     -   68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10      NaN
11   McDuck
12   McDuck
13      Nam
14     Long
15    Ricky
16     None
17      NaN

In [47]:
#Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu. Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn ―kg‖
weight=patientheartrate['Weight']

for i in range(0,len(weight)):
  x = str(weight[i])
  if "lbs" in x[-3:]:
    #remove the lbs from the value
    x = x[:-3:]
    float_x = float(x)
    y = int(float_x/2.2)
    y = str(y)+"kgs"
    weight[i] = y
print (patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN      NaN
10   NaN   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN      NaN
11   9.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

C:\Users\Dell\AppData\Local\Temp\ipykernel_7368\3977792196.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\Dell\AppData\Local\Temp\ipykernel_7368\3977792196.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\Dell\AppData\Local\Temp\ipykernel_7368\3977792196.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\Dell\AppData\Local\Temp\ipykernel_7368\3977792196.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\Dell\AppData\Local\Temp\ipykernel_7368\3977792196.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

In [48]:
#Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có thể đưa ra là xóa bỏ
patientheartrate.dropna(how="all", inplace=True)
print(patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [49]:
#Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname, age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.
patientheartrate = patientheartrate.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
print (patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -    Scööpy      Doo
12  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [50]:
#Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII. Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‗warning‘)
patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
print(patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

C:\Users\Dell\AppData\Local\Temp\ipykernel_7368\4122705859.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7368\4122705859.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [54]:
#Vấn đề 8: ―một cột chứa quá nhiều thông tin cần được phân rã‖, như trong bài toán này ta
#thấy header ―m0006‖ chứa các nội dung bao gồm: m  male, 1218 ~ 12-18 (mm-dd).
#Còn giá trị thì là kết quả huyết áp.

#melt the sex + time range colums in  single column
df = pd.melt(df,id_vars=['ID', 'Name', 'Age', 'Weight','Fristname','Lastname'], value_name="PulseRate", var_name="sex_and_time").sort_values(['ID', 'Name', 'Age', 'Weight','Fristname','Lastname'])

#extract sex, hour lowerbound and hour upper bound group
tmp_df = df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})",expand=True)

#Name colums
tmp_df.colums = ["Sex", "hour_lower", "hour_upper"]

tmp_df["Time"] = tmp_df["hour_lower"] + "-" + tmp_df["hour_upper"]

df = pd.concat([df, tmp_df], axis=1)

df = df.drop(['sex_and_time', 'hour_lower', 'hour_upper'], axis=1)
df = df.dropna()
df.to_csv('patient_heart_rate.csv', index = False)
print(df)

NameError: name 'df' is not defined